.about-page {
    margin-top: 7rem;
    transform: translateY(40px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
    background: linear-gradient();

}

.about-body {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 84.5vw;
    background: linear-gradient(to right, rgba(117, 203, 246, 0.6), rgba(120, 94, 237, 0.6));
    border-radius: 20px;

}


.about-image-container {
    display: flex;
    height: 100%;
    width: 45%;

}


.about-img {
    display: flex;
    height: 100%;
    width: 85%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.about-text {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 30rem;
}



@media(max-width:1000px) {

    .about-page {
        align-items: center;
    }

    .about-body {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .about-img-container {
        width: 13rem;
        align-items: center;
    }

    .about-img {
        border-radius: 20px;
        width: 13rem;
        height: 13rem;
    }

    .about-text {
        height: 30%;
    }

}