.about-body {
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 84vw;
    /* margin-right: 6.5%; */
    background: linear-gradient(to right, rgba(117, 203, 246, 0.6), rgba(120, 94, 237, 0.6));
    border-radius: 20px;

}


.about-image-container {
    display: flex;
    height: 100%;
    width: 45%;

}


.about-img {

    height: 100%;
    width: 85%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.about-text {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30rem;
}



@media(max-width:1000px) {



    .about-body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 11rem;
        height: 70%;
        width: 90vw;
        /* margin-right: 4.5%; */
    }



    .about-img {
        display: none;
        border-radius: 20px;
        width: 13rem;
        height: 13rem;


    }

    .about-text {
        height: 30%;
    }

}