.contact-page {
    display: flex;
    flex-direction: column;
    height: 70%;
    /* width: 84vw; */
    /* margin-right: 6.5%; */
    margin-top: 3rem;

}

.contact-title {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(117, 203, 246, 0.6), rgba(120, 94, 237, 0.6));
    border-radius: 20px;
    gap: 3rem;
    padding: 40px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgba(255, 255, 255, 0.3);
}

.contact-segment {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}





@media(max-width:1000px) {
    .contact-page {
        flex-direction: column;
    }
}