.contact-page {
    display: flex;
    flex-direction: column;
    height: 70%;
    width:100vw;
    /* width: 84vw; */
    /* margin-right: 6.5%; */
    margin-top: 3rem;
    align-items:center;
    justify-items: center;
    background: linear-gradient(to right, rgba(12, 47, 64, 0.8), rgba(3, 42, 132, 0.8));
    color:aliceblue;
}

.contact-title {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
}

.contact-form {
    display: flex;
    width:70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 20px;
    gap: 3rem;
    padding: 40px;
    /* outline-style: solid;
    outline-width: 2px;
    outline-color: rgba(255, 255, 255, 0.3); */
}

.contact-segment {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}





@media(max-width:1000px) {
    .contact-page {
        flex-direction: column;
    }
}