.hero-video-container {
    position: relative;
    height: 80vh;
    width: 99vw;
    justify-content: center;

    display: flex;
    justify-content: center;
    align-items: center;

}


.hero-video {
    position: absolute;
    top: -3rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    box-shadow: 0 60px 60px -0px rgb(159, 175, 224) inset;

}

.hero-text {
    margin-bottom: 10rem;
    position: relative;
    color: white;
    z-index: 1;
    opacity: 0;
    animation: fadeInSlide 0.8s ease-in 0.8s forwards
}


section:target {
    opacity: 0;
    animation: fadeInSlide 0.8s ease-in 0.8s forwards
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.hero-page {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    height: 80%;
    width: 80vw;

}



.hero-img {

    height: 25rem;
    width: 25rem;
    border-radius: 300px;

}

.hero-text {

    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media(max-width:1000px) {

    .hero-img {

        height: 15rem;
        width: 15rem;
        border-radius: 300px;

    }

}