.project-showcase-page {

    margin-top: 130px;
    margin-bottom: 30px;

}


.project-showcase-image {
    width: 25rem;
    height: 22rem;
    border-radius: 20px;
    filter: blur(1px) brightness(70%);
}